n8n-workflows/Daily Budget Alert.json
{
  "name": "Daily Budget Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5a657f89-2bdb-408a-a5e0-5d619ce33297",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://localhost:8080/api/summary",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "e7051670-b707-4b31-8571-d6577777cab7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1f0b1ccc-7f53-4019-a920-2712f7622329",
              "leftValue": "={{ $json.overBudget }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "143e6d67-1360-45e1-b93e-8b41dcc5ce5a",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "484f9607-aa9e-4a83-a552-33089de1c64d",
              "name": "alertMessage",
              "value": "={{ $json.category }} is over budget by ₹{{ $json.spent - $json.limit }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -96
      ],
      "id": "aac94c62-ed07-4ac5-8c03-ffeebbf1607c",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "63ab908f-678c-406f-99ac-8bc495f55b5a",
  "meta": {
    "instanceId": "32e9f09e96393a143888c0f44120eba8021d0315d6c7025826344a32a93d794c"
  },
  "id": "TxPLzuiDAVx2aqc2",
  "tags": []
}